In [178]:
import pandas as pd

df = pd.read_csv("./Data/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [180]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin'], axis='columns', inplace=True)

In [182]:
df.head()

   Survived  Pclass     Sex   Age     Fare Embarked
0         0       3    male  22.0   7.2500        S
1         1       1  female  38.0  71.2833        C
2         1       3  female  26.0   7.9250        S
3         1       1  female  35.0  53.1000        S
4         0       3    male  35.0   8.0500        S

In [184]:
df.describe()

         Survived      Pclass         Age        Fare
count  891.000000  891.000000  714.000000  891.000000
mean     0.383838    2.308642   29.699118   32.204208
std      0.486592    0.836071   14.526497   49.693429
min      0.000000    1.000000    0.420000    0.000000
25%      0.000000    2.000000   20.125000    7.910400
50%      0.000000    3.000000   28.000000   14.454200
75%      1.000000    3.000000   38.000000   31.000000
max      1.000000    3.000000   80.000000  512.329200

In [186]:
print(df.isnull().sum())
print("************")
print(df.isnull().any())
print("************")
print(df['Embarked'].unique())
print("************")
print(df.columns[df.isna().any()])

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
Embarked      2
dtype: int64
************
Survived    False
Pclass      False
Sex         False
Age          True
Fare        False
Embarked     True
dtype: bool
************
['S' 'C' 'Q' nan]
************
Index(['Age', 'Embarked'], dtype='object')

In [188]:
values = {'Age': df.Age.mean(), 'Embarked': df.Embarked.mode()[0] }
#df['Age'].fillna(df['Age'].mean(), inplace=True)
input_df = df.fillna(value=values)
print(input_df.Age.isnull().any())
print(input_df.Embarked.isnull().any())

False
False

In [190]:
input_df.Embarked.isnull().sum()

0

In [192]:
input_df = pd.get_dummies(input_df, columns=['Sex', 'Embarked'], dtype=int)
#pd.get_dummies(input_df.Sex)

In [194]:
input_df.head()

,Survived,Pclass,Age,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,7.2500,0,1,0,0,1
1,1,1,38.0,71.2833,1,0,1,0,0
2,1,3,26.0,7.9250,1,0,0,0,1
3,1,1,35.0,53.1000,1,0,0,0,1
4,0,3,35.0,8.0500,0,1,0,0,1

In [196]:
y = input_df['Survived']
input_df.drop(['Sex_male', 'Embarked_S', 'Survived'], axis=1, inplace=True)

In [198]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [200]:
df.head()

   Survived  Pclass     Sex   Age     Fare Embarked
0         0       3    male  22.0   7.2500        S
1         1       1  female  38.0  71.2833        C
2         1       3  female  26.0   7.9250        S
3         1       1  female  35.0  53.1000        S
4         0       3    male  35.0   8.0500        S

In [206]:
df.columns[df.isna().any()]

Index([], dtype='object')

In [208]:
df.dropna(subset=['Age','Embarked'], inplace=True)
df.columns[df.isna().any()]

Index([], dtype='object')

In [240]:
input_df.head()

   Pclass   Age     Fare  Sex_female  Embarked_C  Embarked_Q
0       3  22.0   7.2500           0           0           0
1       1  38.0  71.2833           1           1           0
2       3  26.0   7.9250           1           0           0
3       1  35.0  53.1000           1           0           0
4       3  35.0   8.0500           0           0           0

In [210]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(input_df, y, test_size=0.3, random_state=42)

In [212]:
from sklearn.naive_bayes import GaussianNB

Gnb = GaussianNB()

In [214]:
Gnb.fit(X_train, y_train)

GaussianNB()

In [216]:
Gnb.score(X_test, y_test)

0.7723880597014925

In [218]:
X_test[0:10]

     Pclass        Age     Fare  Sex_female  Embarked_C  Embarked_Q
709       3  29.699118  15.2458           0           1           0
439       2  31.000000  10.5000           0           0           0
840       3  20.000000   7.9250           0           0           0
720       2   6.000000  33.0000           1           0           0
39        3  14.000000  11.2417           1           1           0
290       1  26.000000  78.8500           1           0           0
300       3  29.699118   7.7500           1           0           1
333       3  16.000000  18.0000           0           0           0
208       3  16.000000   7.7500           1           0           1
136       1  19.000000  26.2833           1           0           0

In [220]:
y_test[0:10]

709    1
439    0
840    0
720    1
39     1
290    1
300    1
333    0
208    1
136    1
Name: Survived, dtype: int64

In [228]:
Gnb.predict(X_test[0:10])

array([0, 0, 0, 1, 1, 1, 0, 0, 1, 1], dtype=int64)

In [232]:
from sklearn.model_selection import cross_val_score

cv = cross_val_score(GaussianNB(), input_df, y, cv=5)
cv

array([0.67597765, 0.76404494, 0.80337079, 0.76404494, 0.79213483])

In [238]:
import numpy as np

np.average(cv)

0.7599146318498524